body{
	/* background-color: #e39198 !important; */
	background-image: url("fondo.jpg");
	color: #00689d !important;
	font-family: 'Acme', sans-serif !important;
}
.container{
	padding-top: 3rem;
	background-color: #D0DCDC;
}
.botonConf{
	width: 80px !important;
	height: 80px !important;
	font-size: 120% !important;
	background-color: #d35060;
}
.fondoGris{
	background-color: #D0DCDC !important;
}


.container.TemaRetro{
	padding-top: 3rem;
	background-color: transparent;
	background-image: url(FondoRetro.jpg);
	width: auto;
	height: auto;
	font-family: 'Press Start 2P', cursive;
	font-size: 60% !important;
	color: white;
}



.container.TemaDark{
	padding-top: 3rem;
	background-color: #2D3A3A;
	font-family: 'Acme', sans-serif;
	color: cyan;
}
